In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv("italy-covid-daywise.csv")
df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [13]:
df.shape

(248, 4)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [15]:
df.isna().sum()

date            0
new_cases       0
new_deaths      0
new_tests     113
dtype: int64

In [16]:
#top 5 rows
df.head()

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [17]:
df.sample(5)

           date  new_cases  new_deaths  new_tests
67   2020-03-07      778.0        49.0        NaN
161  2020-06-09      280.0        65.0    32200.0
146  2020-05-25      531.0        50.0    20676.0
21   2020-01-21        0.0         0.0        NaN
80   2020-03-20     5322.0       429.0        NaN

In [18]:
a=5
type(a)

int

In [19]:
df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [20]:
df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [21]:
df.iloc[150:160,:]

           date  new_cases  new_deaths  new_tests
150  2020-05-29      593.0        70.0    38233.0
151  2020-05-30      516.0        87.0    36051.0
152  2020-05-31      416.0       111.0    28948.0
153  2020-06-01      355.0        75.0    18053.0
154  2020-06-02      178.0        60.0    25628.0
155  2020-06-03      318.0        55.0    20035.0
156  2020-06-04      321.0        71.0    27451.0
157  2020-06-05      177.0        88.0    40470.0
158  2020-06-06      518.0        85.0    34036.0
159  2020-06-07      270.0        72.0    27894.0

In [22]:
df.iloc[15:29,3]

15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
Name: new_tests, dtype: float64

In [23]:
df["new_deaths"][247]

6.0

In [24]:
df.at[274,"new_deaths"]

KeyError: 274

In [25]:
#dataframe to list
df["date]"].to_list()

KeyError: 'date]'

In [26]:
#dataframe to dictionary
df.to_dict()

{'date': {0: '2019-12-31',
  1: '2020-01-01',
  2: '2020-01-02',
  3: '2020-01-03',
  4: '2020-01-04',
  5: '2020-01-05',
  6: '2020-01-06',
  7: '2020-01-07',
  8: '2020-01-08',
  9: '2020-01-09',
  10: '2020-01-10',
  11: '2020-01-11',
  12: '2020-01-12',
  13: '2020-01-13',
  14: '2020-01-14',
  15: '2020-01-15',
  16: '2020-01-16',
  17: '2020-01-17',
  18: '2020-01-18',
  19: '2020-01-19',
  20: '2020-01-20',
  21: '2020-01-21',
  22: '2020-01-22',
  23: '2020-01-23',
  24: '2020-01-24',
  25: '2020-01-25',
  26: '2020-01-26',
  27: '2020-01-27',
  28: '2020-01-28',
  29: '2020-01-29',
  30: '2020-01-30',
  31: '2020-01-31',
  32: '2020-02-01',
  33: '2020-02-02',
  34: '2020-02-03',
  35: '2020-02-04',
  36: '2020-02-05',
  37: '2020-02-06',
  38: '2020-02-07',
  39: '2020-02-08',
  40: '2020-02-09',
  41: '2020-02-10',
  42: '2020-02-11',
  43: '2020-02-12',
  44: '2020-02-13',
  45: '2020-02-14',
  46: '2020-02-15',
  47: '2020-02-16',
  48: '2020-02-17',
  49: '2020-02-18',
  50: '2020-02-19',
  51: '2020-02-20',
  52: '2020-02-21',
  53: '2020-02-22',
  54: '2020-02-23',
  55: '2020-02-24',
  56: '2020-02-25',
  57: '2020-02-26',
  58: '2020-02-27',
  59: '2020-02-28',
  60: '2020-02-29',
  61: '2020-03-01',
  62: '2020-03-02',
  63: '2020-03-03',
  64: '2020-03-04',
  65: '2020-03-05',
  66: '2020-03-06',
  67: '2020-03-07',
  68: '2020-03-08',
  69: '2020-03-09',
  70: '2020-03-10',
  71: '2020-03-11',
  72: '2020-03-12',
  73: '2020-03-13',
  74: '2020-03-14',
  75: '2020-03-15',
  76: '2020-03-16',
  77: '2020-03-17',
  78: '2020-03-18',
  79: '2020-03-19',
  80: '2020-03-20',
  81: '2020-03-21',
  82: '2020-03-22',
  83: '2020-03-23',
  84: '2020-03-24',
  85: '2020-03-25',
  86: '2020-03-26',
  87: '2020-03-27',
  88: '2020-03-28',
  89: '2020-03-29',
  90: '2020-03-30',
  91: '2020-03-31',
  92: '2020-04-01',
  93: '2020-04-02',
  94: '2020-04-03',
  95: '2020-04-04',
  96: '2020-04-05',
  97: '2020-04-06',
  98: '2020-04-07',
  99: '2020-04-08',
  100: '2020-04-09',
  101: '2020-04-10',
  102: '2020-04-11',
  103: '2020-04-12',
  104: '2020-04-13',
  105: '2020-04-14',
  106: '2020-04-15',
  107: '2020-04-16',
  108: '2020-04-17',
  109: '2020-04-18',
  110: '2020-04-19',
  111: '2020-04-20',
  112: '2020-04-21',
  113: '2020-04-22',
  114: '2020-04-23',
  115: '2020-04-24',
  116: '2020-04-25',
  117: '2020-04-26',
  118: '2020-04-27',
  119: '2020-04-28',
  120: '2020-04-29',
  121: '2020-04-30',
  122: '2020-05-01',
  123: '2020-05-02',
  124: '2020-05-03',
  125: '2020-05-04',
  126: '2020-05-05',
  127: '2020-05-06',
  128: '2020-05-07',
  129: '2020-05-08',
  130: '2020-05-09',
  131: '2020-05-10',
  132: '2020-05-11',
  133: '2020-05-12',
  134: '2020-05-13',
  135: '2020-05-14',
  136: '2020-05-15',
  137: '2020-05-16',
  138: '2020-05-17',
  139: '2020-05-18',
  140: '2020-05-19',
  141: '2020-05-20',
  142: '2020-05-21',
  143: '2020-05-22',
  144: '2020-05-23',
  145: '2020-05-24',
  146: '2020-05-25',
  147: '2020-05-26',
  148: '2020-05-27',
  149: '2020-05-28',
  150: '2020-05-29',
  151: '2020-05-30',
  152: '2020-05-31',
  153: '2020-06-01',
  154: '2020-06-02',
  155: '2020-06-03',
  156: '2020-06-04',
  157: '2020-06-05',
  158: '2020-06-06',
  159: '2020-06-07',
  160: '2020-06-08',
  161: '2020-06-09',
  162: '2020-06-10',
  163: '2020-06-11',
  164: '2020-06-12',
  165: '2020-06-13',
  166: '2020-06-14',
  167: '2020-06-15',
  168: '2020-06-16',
  169: '2020-06-17',
  170: '2020-06-18',
  171: '2020-06-19',
  172: '2020-06-20',
  173: '2020-06-21',
  174: '2020-06-22',
  175: '2020-06-23',
  176: '2020-06-24',
  177: '2020-06-25',
  178: '2020-06-26',
  179: '2020-06-27',
  180: '2020-06-28',
  181: '2020-06-29',
  182: '2020-06-30',
  183: '2020-07-01',
  184: '2020-07-02',
  185: '2020-07-03',
  186: '2020-07-04',
  187: '2020-07-05',
  188: '2020-07-06',
  189: '2020-07-07',
  190: '2020-07-08',
  191: '2020-07-09',
  192: '2020-07-10',
  193: '2020-07-11',
  194: '2020-07-12',
  195: '2020-07-13',
  196: '2020-07-14',
  197: '2020-07-15',
  198: '2020-07-16',
  199: '2020-07-17',
  200: '2020-07-18',
  201: '2020-07-19',
  202: '2020-07-20',
  203: '2020-07-21',
  204: '2020-07-22',
  205: '2020-07-23',
  206: '2020-07-24',
  207: '2020-07-25',
  208: '2020-07-26',
  209: '2020-07-27',
  210: '2020-07-28',
  211: '2020-07-29',
  212: '2020-07-30',
  213: '2020-07-31',
  214: '2020-08-01',
  215: '2020-08-02',
  216: '2020-08-03',
  217: '2020-08-04',
  218: '2020-08-05',
  219: '2020-08-06',
  220: '2020-08-07',
  221: '2020-08-08',
  222: '2020-08-09',
  223: '2020-08-10',
  224: '2020-08-11',
  225: '2020-08-12',
  226: '2020-08-13',
  227: '2020-08-14',
  228: '2020-08-15',
  229: '2020-08-16',
  230: '2020-08-17',
  231: '2020-08-18',
  232: '2020-08-19',
  233: '2020-08-20',
  234: '2020-08-21',
  235: '2020-08-22',
  236: '2020-08-23',
  237: '2020-08-24',
  238: '2020-08-25',
  239: '2020-08-26',
  240: '2020-08-27',
  241: '2020-08-28',
  242: '2020-08-29',
  243: '2020-08-30',
  244: '2020-08-31',
  245: '2020-09-01',
  246: '2020-09-02',
  247: '2020-09-03'},
 'new_cases': {0: 0.0,
  1: 0.0,
  2: 0.0,
  3: 0.0,
  4: 0.0,
  5: 0.0,
  6: 0.0,
  7: 0.0,
  8: 0.0,
  9: 0.0,
  10: 0.0,
  11: 0.0,
  12: 0.0,
  13: 0.0,
  14: 0.0,
  15: 0.0,
  16: 0.0,
  17: 0.0,
  18: 0.0,
  19: 0.0,
  20: 0.0,
  21: 0.0,
  22: 0.0,
  23: 0.0,
  24: 0.0,
  25: 0.0,
  26: 0.0,
  27: 0.0,
  28: 0.0,
  29: 0.0,
  30: 0.0,
  31: 3.0,
  32: 0.0,
  33: 0.0,
  34: 0.0,
  35: 0.0,
  36: 0.0,
  37: 0.0,
  38: 0.0,
  39: 0.0,
  40: 0.0,
  41: 0.0,
  42: 0.0,
  43: 0.0,
  44: 0.0,
  45: 0.0,
  46: 0.0,
  47: 0.0,
  48: 0.0,
  49: 0.0,
  50: 0.0,
  51: 0.0,
  52: 0.0,
  53: 14.0,
  54: 62.0,
  55: 53.0,
  56: 97.0,
  57: 93.0,
  58: 78.0,
  59: 250.0,
  60: 238.0,
  61: 240.0,
  62: 561.0,
  63: 347.0,
  64: 466.0,
  65: 587.0,
  66: 769.0,
  67: 778.0,
  68: 1247.0,
  69: 1492.0,
  70: 1797.0,
  71: 977.0,
  72: 2313.0,
  73: 2651.0,
  74: 2547.0,
  75: 3497.0,
  76: 2823.0,
  77: 4000.0,
  78: 3526.0,
  79: 4207.0,
  80: 5322.0,
  81: 5986.0,
  82: 6557.0,
  83: 5560.0,
  84: 4789.0,
  85: 5249.0,
  86: 5210.0,
  87: 6153.0,
  88: 5959.0,
  89: 5974.0,
  90: 5217.0,
  91: 4050.0,
  92: 4053.0,
  93: 4782.0,
  94: 4668.0,
  95: 4585.0,
  96: 4805.0,
  97: 4316.0,
  98: 3599.0,
  99: 3039.0,
  100: 3836.0,
  101: 4204.0,
  102: 3951.0,
  103: 4694.0,
  104: 4092.0,
  105: 3153.0,
  106: 2972.0,
  107: 2667.0,
  108: 3786.0,
  109: 3493.0,
  110: 3491.0,
  111: 3047.0,
  112: 2256.0,
  113: 2729.0,
  114: 3370.0,
  115: 2646.0,
  116: 3021.0,
  117: 2357.0,
  118: 2324.0,
  119: 1739.0,
  120: 2091.0,
  121: 2086.0,
  122: 1872.0,
  123: 1965.0,
  124: 1900.0,
  125: 1389.0,
  126: 1221.0,
  127: 1075.0,
  128: 1444.0,
  129: 1401.0,
  130: 1327.0,
  131: 1083.0,
  132: 802.0,
  133: 744.0,
  134: 1402.0,
  135: 888.0,
  136: 992.0,
  137: 789.0,
  138: 875.0,
  139: 675.0,
  140: 451.0,
  141: 813.0,
  142: 665.0,
  143: 642.0,
  144: 652.0,
  145: 669.0,
  146: 531.0,
  147: 300.0,
  148: 397.0,
  149: 584.0,
  150: 593.0,
  151: 516.0,
  152: 416.0,
  153: 355.0,
  154: 178.0,
  155: 318.0,
  156: 321.0,
  157: 177.0,
  158: 518.0,
  159: 270.0,
  160: 197.0,
  161: 280.0,
  162: 283.0,
  163: 202.0,
  164: 379.0,
  165: 163.0,
  166: 346.0,
  167: 338.0,
  168: 301.0,
  169: 210.0,
  170: 328.0,
  171: 331.0,
  172: -148.0,
  173: 264.0,
  174: 224.0,
  175: 221.0,
  176: 113.0,
  177: 577.0,
  178: 296.0,
  179: 255.0,
  180: 175.0,
  181: 174.0,
  182: 126.0,
  183: 142.0,
  184: 182.0,
  185: 201.0,
  186: 223.0,
  187: 235.0,
  188: 192.0,
  189: 208.0,
  190: 137.0,
  191: 193.0,
  192: 214.0,
  193: 276.0,
  194: 188.0,
  195: 234.0,
  196: 169.0,
  197: 114.0,
  198: 162.0,
  199: 230.0,
  200: 231.0,
  201: 249.0,
  202: 218.0,
  203: 190.0,
  204: 128.0,
  205: 280.0,
  206: 306.0,
  207: 252.0,
  208: 274.0,
  209: 254.0,
  210: 168.0,
  211: 202.0,
  212: 288.0,
  213: 382.0,
  214: 379.0,
  215: 295.0,
  216: 238.0,
  217: 159.0,
  218: 190.0,
  219: 384.0,
  220: 401.0,
  221: 552.0,
  222: 347.0,
  223: 463.0,
  224: 259.0,
  225: 412.0,
  226: 476.0,
  227: 522.0,
  228: 574.0,
  229: 629.0,
  230: 477.0,
  231: 320.0,
  232: 401.0,
  233: 642.0,
  234: 840.0,
  235: 947.0,
  236: 1071.0,
  237: 1209.0,
  238: 953.0,
  239: 876.0,
  240: 1366.0,
  241: 1409.0,
  242: 1460.0,
  243: 1444.0,
  244: 1365.0,
  245: 996.0,
  246: 975.0,
  247: 1326.0},
 'new_deaths': {0: 0.0,
  1: 0.0,
  2: 0.0,
  3: 0.0,
  4: 0.0,
  5: 0.0,
  6: 0.0,
  7: 0.0,
  8: 0.0,
  9: 0.0,
  10: 0.0,
  11: 0.0,
  12: 0.0,
  13: 0.0,
  14: 0.0,
  15: 0.0,
  16: 0.0,
  17: 0.0,
  18: 0.0,
  19: 0.0,
  20: 0.0,
  21: 0.0,
  22: 0.0,
  23: 0.0,
  24: 0.0,
  25: 0.0,
  26: 0.0,
  27: 0.0,
  28: 0.0,
  29: 0.0,
  30: 0.0,
  31: 0.0,
  32: 0.0,
  33: 0.0,
  34: 0.0,
  35: 0.0,
  36: 0.0,
  37: 0.0,
  38: 0.0,
  39: 0.0,
  40: 0.0,
  41: 0.0,
  42: 0.0,
  43: 0.0,
  44: 0.0,
  45: 0.0,
  46: 0.0,
  47: 0.0,
  48: 0.0,
  49: 0.0,
  50: 0.0,
  51: 0.0,
  52: 0.0,
  53: 0.0,
  54: 2.0,
  55: 0.0,
  56: 4.0,
  57: 5.0,
  58: 1.0,
  59: 5.0,
  60: 4.0,
  61: 8.0,
  62: 6.0,
  63: 17.0,
  64: 28.0,
  65: 27.0,
  66: 41.0,
  67: 49.0,
  68: 36.0,
  69: 133.0,
  70: 98.0,
  71: 167.0,
  72: 196.0,
  73: 189.0,
  74: 252.0,
  75: 173.0,
  76: 370.0,
  77: 347.0,
  78: 347.0,
  79: 473.0,
  80: 429.0,
  81: 625.0,
  82: 795.0,
  83: 649.0,
  84: 601.0,
  85: 743.0,
  86: 685.0,
  87: 660.0,
  88: 971.0,
  89: 887.0,
  90: 758.0,
  91: 810.0,
  92: 839.0,
  93: 727.0,
  94: 760.0,
  95: 764.0,
  96: 681.0,
  97: 527.0,
  98: 636.0,
  99: 604.0,
  100: 540.0,
  101: 612.0,
  102: 570.0,
  103: 619.0,
  104: 431.0,
  105: 564.0,
  106: 604.0,
  107: 578.0,
  108: 525.0,
  109: 575.0,
  110: 480.0,
  111: 433.0,
  112: 454.0,
  113: 534.0,
  114: 437.0,
  115: 464.0,
  116: 420.0,
  117: 415.0,
  118: 260.0,
  119: 333.0,
  120: 382.0,
  121: 323.0,
  122: 285.0,
  123: 269.0,
  124: 474.0,
  125: 174.0,
  126: 195.0,
  127: 236.0,
  128: 369.0,
  129: 274.0,
  130: 243.0,
  131: 194.0,
  132: 165.0,
  133: 179.0,
  134: 172.0,
  135: 195.0,
  136: 262.0,
  137: 242.0,
  138: 153.0,
  139: 145.0,
  140: 99.0,
  141: 162.0,
  142: 161.0,
  143: 156.0,
  144: 130.0,
  145: 119.0,
  146: 50.0,
  147: 92.0,
  148: 78.0,
  149: 117.0,
  150: 70.0,
  151: 87.0,
  152: 111.0,
  153: 75.0,
  154: 60.0,
  155: 55.0,
  156: 71.0,
  157: 88.0,
  158: 85.0,
  159: 72.0,
  160: 53.0,
  161: 65.0,
  162: 79.0,
  163: 71.0,
  164: 53.0,
  165: 56.0,
  166: 78.0,
  167: 44.0,
  168: 26.0,
  169: 34.0,
  170: 43.0,
  171: 66.0,
  172: 47.0,
  173: 49.0,
  174: 24.0,
  175: 23.0,
  176: 18.0,
  177: -31.0,
  178: 34.0,
  179: 30.0,
  180: 8.0,
  181: 22.0,
  182: 6.0,
  183: 23.0,
  184: 21.0,
  185: 30.0,
  186: 15.0,
  187: 21.0,
  188: 7.0,
  189: 8.0,
  190: 30.0,
  191: 15.0,
  192: 12.0,
  193: 12.0,
  194: 7.0,
  195: 9.0,
  196: 13.0,
  197: 17.0,
  198: 13.0,
  199: 20.0,
  200: 11.0,
  201: 14.0,
  202: 3.0,
  203: 13.0,
  204: 15.0,
  205: 9.0,
  206: 10.0,
  207: 5.0,
  208: 5.0,
  209: 5.0,
  210: 5.0,
  211: 11.0,
  212: 6.0,
  213: 3.0,
  214: 9.0,
  215: 5.0,
  216: 8.0,
  217: 12.0,
  218: 5.0,
  219: 10.0,
  220: 6.0,
  221: 3.0,
  222: 13.0,
  223: 2.0,
  224: 4.0,
  225: 6.0,
  226: 10.0,
  227: 6.0,
  228: 3.0,
  229: 158.0,
  230: 4.0,
  231: 4.0,
  232: 5.0,
  233: 7.0,
  234: 6.0,
  235: 9.0,
  236: 3.0,
  237: 7.0,
  238: 4.0,
  239: 4.0,
  240: 13.0,
  241: 5.0,
  242: 9.0,
  243: 1.0,
  244: 4.0,
  245: 6.0,
  246: 8.0,
  247: 6.0},
 'new_tests': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: nan,
  5: nan,
  6: nan,
  7: nan,
  8: nan,
  9: nan,
  10: nan,
  11: nan,
  12: nan,
  13: nan,
  14: nan,
  15: nan,
  16: nan,
  17: nan,
  18: nan,
  19: nan,
  20: nan,
  21: nan,
  22: nan,
  23: nan,
  24: nan,
  25: nan,
  26: nan,
  27: nan,
  28: nan,
  29: nan,
  30: nan,
  31: nan,
  32: nan,
  33: nan,
  34: nan,
  35: nan,
  36: nan,
  37: nan,
  38: nan,
  39: nan,
  40: nan,
  41: nan,
  42: nan,
  43: nan,
  44: nan,
  45: nan,
  46: nan,
  47: nan,
  48: nan,
  49: nan,
  50: nan,
  51: nan,
  52: nan,
  53: nan,
  54: nan,
  55: nan,
  56: nan,
  57: nan,
  58: nan,
  59: nan,
  60: nan,
  61: nan,
  62: nan,
  63: nan,
  64: nan,
  65: nan,
  66: nan,
  67: nan,
  68: nan,
  69: nan,
  70: nan,
  71: nan,
  72: nan,
  73: nan,
  74: nan,
  75: nan,
  76: nan,
  77: nan,
  78: nan,
  79: nan,
  80: nan,
  81: nan,
  82: nan,
  83: nan,
  84: nan,
  85: nan,
  86: nan,
  87: nan,
  88: nan,
  89: nan,
  90: nan,
  91: nan,
  92: nan,
  93: nan,
  94: nan,
  95: nan,
  96: nan,
  97: nan,
  98: nan,
  99: nan,
  100: nan,
  101: nan,
  102: nan,
  103: nan,
  104: nan,
  105: nan,
  106: nan,
  107: nan,
  108: nan,
  109: nan,
  110: nan,
  111: 7841.0,
  112: 28095.0,
  113: 44248.0,
  114: 37083.0,
  115: 95273.0,
  116: 38676.0,
  117: 24113.0,
  118: 26678.0,
  119: 37554.0,
  120: 38589.0,
  121: 41441.0,
  122: 43732.0,
  123: 31231.0,
  124: 27047.0,
  125: 22999.0,
  126: 32211.0,
  127: 37771.0,
  128: 13665.0,
  129: 45428.0,
  130: 36091.0,
  131: 31384.0,
  132: 25823.0,
  133: 39620.0,
  134: 37049.0,
  135: 41131.0,
  136: 39027.0,
  137: 40657.0,
  138: 33505.0,
  139: 26101.0,
  140: 40226.0,
  141: 38617.0,
  142: 40644.0,
  143: 42987.0,
  144: 42579.0,
  145: 34206.0,
  146: 20676.0,
  147: 33944.0,
  148: 37299.0,
  149: 39838.0,
  150: 38233.0,
  151: 36051.0,
  152: 28948.0,
  153: 18053.0,
  154: 25628.0,
  155: 20035.0,
  156: 27451.0,
  157: 40470.0,
  158: 34036.0,
  159: 27894.0,
  160: 16301.0,
  161: 32200.0,
  162: 37865.0,
  163: 32991.0,
  164: 37651.0,
  165: 32880.0,
  166: 29545.0,
  167: 17463.0,
  168: 27762.0,
  169: 33957.0,
  170: 32921.0,
  171: 28570.0,
  172: 29875.0,
  173: 24581.0,
  174: 16152.0,
  175: 23225.0,
  176: 30237.0,
  177: 29421.0,
  178: 28331.0,
  179: 29721.0,
  180: 21183.0,
  181: 15484.0,
  182: 28471.0,
  183: 29325.0,
  184: 29147.0,
  185: 25680.0,
  186: 28946.0,
  187: 21166.0,
  188: 13771.0,
  189: 22490.0,
  190: 28679.0,
  191: 29947.0,
  192: 27251.0,
  193: 25449.0,
  194: 23061.0,
  195: 14006.0,
  196: 24222.0,
  197: 28392.0,
  198: 28089.0,
  199: 28661.0,
  200: 27569.0,
  201: 20621.0,
  202: 14121.0,
  203: 23915.0,
  204: 29288.0,
  205: 33018.0,
  206: 28970.0,
  207: 28059.0,
  208: 25177.0,
  209: 19374.0,
  210: 25341.0,
  211: 30875.0,
  212: 33396.0,
  213: 29686.0,
  214: 31905.0,
  215: 24496.0,
  216: 13467.0,
  217: 23491.0,
  218: 29739.0,
  219: 32169.0,
  220: 30392.0,
  221: 26631.0,
  222: 22773.0,
  223: 10904.0,
  224: 22063.0,
  225: 27330.0,
  226: 25629.0,
  227: 24868.0,
  228: 25937.0,
  229: 22470.0,
  230: 21379.0,
  231: 32687.0,
  232: 41290.0,
  233: 49662.0,
  234: 44943.0,
  235: 46613.0,
  236: 47463.0,
  237: 33358.0,
  238: 45798.0,
  239: 58054.0,
  240: 57640.0,
  241: 65135.0,
  242: 64294.0,
  243: 53541.0,
  244: 42583.0,
  245: 54395.0,
  246: nan,
  247: nan}}

In [27]:
#lists the column names
df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [ ]:
cols=["new_deaths","new_tests"]
data=df[cols]
data
#original data won't get lost

In [ ]:
data1=df.copy()
data1

In [ ]:
!pip install Ipython

In [ ]:
from Ipython.display import display
with pd.option_context('display_max_rows',1000):
    display(dp)

In [ ]:
df.sort_values(by="date",ascending=False)

In [ ]:
# import polars is an alternate to pandas module